@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
//font-family: 'Pangolin', cursive;

$grid-background: rgba(85, 85, 85, 0.25);
$card-back-background: #f8f8f8;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Pangolin', cursive;
}

@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: #f08080;

	img {
		height: 10vmin;
	}

	.background-lines {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
	height: 20%;
	width: 100%;
}

.line-1 {
	background-color: #e8ead3;
}
.line-2 {
	background-color: #f5dd90;
}
.line-3 {
	background-color: #fbd46d;
}
.line-4 {
	background-color: #ff9c71;
}
.line-5 {
	background-color: #f68e5f;
}
.line-6 {
	background-color: #f76c5e;
}

#grid {
	overflow: hidden;
	position: absolute;
	height: 550px;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 0;
	border-radius: 50px;
	box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.1);
	background-color: $grid-background;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	perspective: 1500px;

	.card-wrapper {
		height: 90px;
		width: 90px;
		margin: 0 10px;
		position: relative;
		transform-style: preserve-3d;
		transition: transform 0.5s;

		.card-front,
		.card-back {
			height: 100%;
			width: 100%;
			background-color: #f8f8f8;
			border-radius: 10px;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			transform: scale(1);
			backface-visibility: hidden;
		}

		.card-front {
			position: absolute;
			transform: rotateY(180deg);
		}

		.card-back {
			position: absolute;
			background-color: $card-back-background;
		}

		&.flip {
			transform: rotateY(180deg);
		}

		&:hover {
			cursor: pointer;
			.card-back {
				background-color: #e7e7e7;
			}
		}

		&:active {
			transform: scale(1.5);
			transition-property: all;
			transition-duration: 200ms;
		}
	}
}

#you-win,
#you-loose,
#welcome-screen {
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: rgba(94, 94, 94, 0.288);
	display: none;
	justify-content: center;
	align-items: center;

	button {
		height: 70px;
		width: 200px;
		color: #fff;
		font-size: 25px;
		font-weight: 600;
		letter-spacing: 1px;
		background-color: #eb6666;
		border: none;
		outline: none;
		border-radius: 5px;

		&:hover {
			cursor: pointer;
			background-color: #e63946;
		}
	}

	#you-win-wrapper,
	#you-loose-wrapper,
	#welcome-wrapper {
		height: 550px;
		width: 600px;
		border-radius: 10px;
		padding: 0 50px;
		background-color: #f1faee;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		#title,
		#timeee {
			color: #343436;
			font-size: 30px;
			font-weight: 700;
			letter-spacing: 2px;
			text-align: center;
			margin-bottom: 40px;
		}

		#timeee {
			margin-top: 40px;
			font-size: 20px;
		}
	}
}

#welcome-screen {
	display: flex;
}

#timer {
	position: absolute;
	top: 15%;
	left: 5%;
	height: 200px;
	width: 200px;
	background-color: #333366;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	#time {
		color: #fff;
		font-size: 40px;
		text-align: center;
	}
}
