*{margin: 0; padding: 0;font-family: 'Old Standard TT', serif;}
.container{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: 30vw;
     grid-template-rows: repeat(3,10vh) 5vh repeat(2,10vh);
     grid-gap: 10px;
     
}
body{
    background: rgb(37, 31, 31);
}

h1{
    text-align: center;
    color: white;
}
.submit-btn{
    background-color: rgb(141, 64, 224);
}
.bmi-value{
    background-color: rgb(51, 255, 0);
    display: grid;
    grid-template-rows: 50% 50%;
}
.status{
    background-color: rgb(255, 127, 191);
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.container > div{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
button,input{
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
}
input{
    background: #e4b659;
    text-indent: 0.5em;
    max-width:100% ;
    color: black;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button{
    background: tomato;
    cursor: pointer;
}
button:hover{
    background: #c70039;
    color: white;
}