* {
    font-weight: bold;
}

body {
    background-color: #030535;
}

table {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px #E6E2EC inset;
    border-radius: 20px;
    width: auto;
    padding: 0;
    background-color: #695C78;
    height: 300px;
    text-decoration: none;
}


td {
    text-align: center;
}


input[type=text] {
    background-color: #D3E3E3;
    text-align: right;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 80px;
    border: 10px;
    border-radius: 10px;
}


button {
    text-align: center;
    border: 10px;
    background-color: #F2F2F4;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    outline: 0 !important;
    cursor: pointer;
}


button:hover {
    background-color: #FFE793 !important;
}



button:active,
.scientific:active,
#on:active {
    box-shadow: 0 2px 8px 0 white, 0 2px 10px 0 white;
    border: none;
    text-decoration: none;
}


.scientific {
    text-align: center;
    border: 10px;
    background-color: #2E2D33;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    outline: 0 !important;
}

.scientific:hover {
    background-color: #E3E3E5 !important;
    color: black !important;
}

#equal {
    background-color: #1fbd51;
}

#on {
    text-align: center;
    border: 10px;
    background-color: #F2F2F4;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    outline: 0 !important;
    cursor: pointer;
}

#ce,
#on {
    background-color: #FEB89A;
}


#ce:hover,
#on:hover {
    background-color: #FF6363 !important;
}


.ce {
    background-color: #9EFFA7 !important;
}

ul li {
    display: inline-block;

}

.solar {
    background-color: #4F332F;
    height: 30px;
    width: 30px;
    border-right: 2px solid black;

}

.operations {
    background-color: #b3c6ff;
}