* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.row {
    justify-content: center;
}

p {
    font-size: 25px;
    font-weight: 600;
    margin: 25px;
    font-family: Poppins, sans-serif;
}